@import './styles/theme.css';
@import './styles/global.css';

/* You can add project-wide overrides here if needed */
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  display: block;
  width: 100%;
}